openai
pydantic
# AI Integration
google-genai

mcp
uvicorn
fastapi

python-jose
passlib[bcrypt]
pydantic[email]

uv
nodeenv
jsonschema

langchain
langchain-openai
langchain_google_genai 
langsmith
ai-sdk-python

#db
mongomock #dev
pymongo #dev 